absl-py==1.1.0
ai-benchmark==0.1.2
anyio==3.6.1
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asciitree==0.3.3
asttokens==2.0.5
astunparse==1.6.3
attrs==21.4.0
auxpack==23.6.24
backcall==0.2.0
backports.ssl==0.0.9
beautifulsoup4==4.11.1
bioregistry==0.9.64
bleach==5.0.1
boto==2.49.0
branca==0.6.0
bs4==0.0.1
cache-decorator==2.1.14
cached-property==1.5.2
cachetools==5.2.0
Cartopy==0.22.0
causality==0.0.10
certifi==2022.6.15
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.1.0
click==8.1.3
cloudpickle==2.1.0
clusim==0.4
commonmark==0.9.1
compress-json==1.0.8
compress-pickle==2.1.0
contourpy==1.1.0
cryptography==37.0.2
cupy-cuda115==10.6.0
curies==0.5.6
cycler==0.11.0
dask==2022.6.1
DateTime==4.4
ddd-subplots==1.0.26
debugpy==1.6.0
decorator==4.4.2
deepctr==0.9.3
deflate-dict==1.0.11
defusedxml==0.7.1
depinfo==2.1.1
dict-hash==1.1.32
dill==0.3.5.1
downloaders==1.0.15
editdistance==0.6.0
elementpath==2.5.3
embiggen==0.11.74
ensmallen==0.8.67
entrypoints==0.4
environments-utils==1.0.10
et-xmlfile==1.1.0
etils==0.6.0
executing==0.8.3
fastapi==0.78.0
fastdtw==0.3.4
fasteners==0.17.3
fastjsonschema==2.15.3
fastobo==0.11.1
fastrlock==0.8
flatbuffers==1.12
folium==0.14.0
fonttools==4.33.3
fsspec==2022.5.0
future==0.18.2
gast==0.4.0
ge==0.0.0
gensim==4.3.1
geographiclib==2.0
geopy==2.3.0
google-api-core==2.8.2
google-auth==2.9.0
google-auth-oauthlib==0.4.6
google-cloud-core==2.3.1
google-cloud-storage==2.4.0
google-crc32c==1.3.0
google-pasta==0.2.0
google-resumable-media==2.3.3
googleapis-common-protos==1.56.3
grape==0.2.2
graphviz==0.8.4
grpcio==1.47.0
guppy3==3.1.2
h11==0.13.0
h5py==3.7.0
html2text==2020.1.16
humanize==4.7.0
hyperspy==1.7.1
idna==3.3
igraph==0.9.11
imageio==2.19.3
importlib-metadata==4.12.0
importlib-resources==5.8.0
imutils==0.5.4
iniconfig==1.1.1
IPy==1.1
ipykernel==6.15.0
ipyparallel==8.4.1
ipython==8.4.0
ipython-genutils==0.2.0
ipywidgets==7.7.1
isodate==0.6.1
jaro-winkler==2.0.3
jedi==0.18.1
Jinja2==3.1.2
joblib==1.3.1
jsonschema==4.6.1
jupyter==1.0.0
jupyter-client==7.3.4
jupyter-console==6.4.4
jupyter-core==4.10.0
jupyterlab-pygments==0.2.2
jupyterlab-widgets==1.1.1
karateclub==1.3.3
keras==2.9.0
Keras-Applications==1.0.8
keras-mixed-sequence==1.0.28
Keras-Preprocessing==1.1.2
kiwisolver==1.4.3
Levenshtein==0.21.1
libclang==14.0.1
llvmlite==0.38.1
locket==1.0.0
lxml==4.9.0
Markdown==3.3.7
markdown-it-py==2.1.0
Markov==0.4.0
MarkupSafe==2.1.1
matplotlib==3.7.1
matplotlib-inline==0.1.3
mdurl==0.1.1
memory-profiler==0.61.0
mistune==0.8.4
more-click==0.1.2
mpmath==1.3.0
mxnet-cu112==1.9.1
natsort==8.1.0
nbclient==0.6.5
nbconvert==6.5.0
nbformat==5.4.0
nest-asyncio==1.5.5
networkx==2.8.8
nibabel==4.0.1
nltk==3.7
node2vec==0.4.6
notebook==6.4.12
numba==0.55.2
numcodecs==0.10.0
numexpr==2.8.3
numpy==1.22.4
numpy-utils==0.1.6
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==8.9.2.26
nxt-gem==2.0.0
oauthlib==3.2.0
opencv-contrib-python==4.6.0.66
opencv-python==4.6.0.66
openpyxl==3.0.10
opt-einsum==3.3.0
packaging==21.3
pandas==1.3.5
pandocfilters==1.5.0
parso==0.8.3
partd==1.2.0
patsy==0.5.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.1.1
Pint==0.19.2
pip==22.0.4
platformdirs==2.5.2
pluggy==1.0.0
powerlaw==1.5
prettytable==3.3.0
prometheus-client==0.14.1
promise==2.3
prompt-toolkit==3.0.30
pronto==2.4.7
protobuf==3.19.4
psutil==5.9.1
ptyprocess==0.7.0
pure-eval==0.2.2
py==1.11.0
py-cpuinfo==8.0.0
py2cytoscape==0.7.1
py4j==0.10.9.7
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pydantic==1.9.1
pydnn==0.0.dev0
pydot==1.4.2
pydot-ng==2.0.0
pydotplus==2.0.2
pygifsicle==1.0.7
Pygments==2.12.0
PyGSP==0.5.1
pylib-openblas==0.0.2
pymetadata==0.3.2
pyOpenSSL==22.0.0
pyparsing==3.0.9
pyproj==3.6.0
pyrsistent==0.18.1
pyshp==2.3.1
pyspark==3.4.1
pystow==0.5.0
pytest==7.1.2
python-dateutil==2.8.2
python-igraph==0.9.11
python-Levenshtein==0.21.1
python-libsbml==5.19.5
python-louvain==0.16
python-multipart==0.0.5
PyTrie==0.4.0
pytz==2022.1
PyWavelets==1.3.0
PyYAML==6.0
pyzmq==23.2.0
qtconsole==5.3.1
QtPy==2.1.0
rapidfuzz==3.1.1
regex==2022.6.2
requests==2.28.1
requests-file==1.5.1
requests-oauthlib==1.3.1
requests-toolbelt==0.9.1
rich==12.4.4
rsa==4.8
sanitize-ml-labels==1.0.50
sasa==0.2.0
sbmlutils==0.7.6
scikit-image==0.19.3
scikit-learn==1.3.0
scipy==1.8.1
sds==2.0.1
seaborn==0.12.2
Send2Trash==1.8.0
setuptools==62.6.0
shapely==2.0.1
silence-tensorflow==1.2.0
six==1.16.0
smart-open==6.3.0
sniffio==1.2.0
sortedcontainers==2.4.0
soupsieve==2.3.2.post1
sparse==0.13.0
stack-data==0.3.0
starlette==0.19.1
statsmodels==0.13.2
support-developer==1.0.5
sympy==1.10.1
tabulate==0.8.10
tensorboard==2.9.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.9.1
tensorflow-datasets==4.6.0
tensorflow-estimator==2.9.0
tensorflow-io-gcs-filesystem==0.26.0
tensorflow-metadata==1.9.0
tensorrt==8.6.1
tensorrt-bindings==8.6.1
tensorrt-libs==8.6.1
termcolor==1.1.0
terminado==0.15.0
texttable==1.6.4
Theano==1.0.5
threadpoolctl==3.1.0
tifffile==2022.5.4
tinycss2==1.1.1
toml==0.10.2
tomli==2.0.1
toolz==0.11.2
torch==1.12.1+cu116
torchaudio==0.12.1+cu116
torchsummary==1.5.1
torchvision==0.13.0+cu116
tornado==6.1
tqdm==4.64.0
traitlets==5.3.0
traits==6.3.2
typing_extensions==4.2.0
urllib3==1.26.9
userinput==1.0.20
uvicorn==0.18.2
vaderSentiment==3.3.2
validate-email==1.3
validate-version-code==1.0.4
validators==0.20.0
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==2.1.2
WGE==23.7.15
wheel==0.37.1
widgetsnbextension==3.6.1
wrapt==1.14.1
xmlschema==1.11.3
xmltodict==0.13.0
zarr==2.12.0
zeep==4.1.0
zipp==3.8.0
zope.interface==5.4.0
